# Importação de bibliotecas:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
!pip install pyDOE2

Requirement already satisfied: pyDOE2 in /opt/anaconda3/lib/python3.7/site-packages (1.3.0)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.7/site-packages (from pyDOE2) (1.18.2)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.7/site-packages (from pyDOE2) (1.3.1)

In [3]:
import pyDOE2

# Montando o planejamento fatorial fracionado

In [4]:
p = pyDOE2.fracfact('A B C ABC')
p = pd.DataFrame(p, columns=['a','b','c','d'])
p

     a    b    c    d
0 -1.0 -1.0 -1.0 -1.0
1  1.0 -1.0 -1.0  1.0
2 -1.0  1.0 -1.0  1.0
3  1.0  1.0 -1.0 -1.0
4 -1.0 -1.0  1.0  1.0
5  1.0 -1.0  1.0 -1.0
6 -1.0  1.0  1.0 -1.0
7  1.0  1.0  1.0  1.0

# Adicionando a coluna de resposta

In [5]:
p['resposta'] = [45,100,45,65,75,60,80,96]

In [6]:
p

     a    b    c    d  resposta
0 -1.0 -1.0 -1.0 -1.0        45
1  1.0 -1.0 -1.0  1.0       100
2 -1.0  1.0 -1.0  1.0        45
3  1.0  1.0 -1.0 -1.0        65
4 -1.0 -1.0  1.0  1.0        75
5  1.0 -1.0  1.0 -1.0        60
6 -1.0  1.0  1.0 -1.0        80
7  1.0  1.0  1.0  1.0        96

# Importação das bibliotecas para regressão linear e ANOVA

In [7]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Definição do modelo matemático

In [8]:
funcao = 'resposta ~ a + b + c + d + a*b + a*c + a*d'

# Ajuste do modelo aos dados

In [9]:
modelo = ols(funcao,p).fit()

# ANOVA

In [11]:
anova = sm.stats.anova_lm(modelo)

In [12]:
anova

           df        sum_sq  mean_sq    F  PR(>F)
a         1.0  7.220000e+02    722.0  0.0     NaN
b         1.0  4.500000e+00      4.5  0.0     NaN
c         1.0  3.920000e+02    392.0  0.0     NaN
d         1.0  5.445000e+02    544.5  0.0     NaN
a:b       1.0  2.000000e+00      2.0  0.0     NaN
a:c       1.0  6.845000e+02    684.5  0.0     NaN
a:d       1.0  7.220000e+02    722.0  0.0     NaN
Residual  0.0  4.493352e-27      inf  NaN     NaN

# Novo modelo - só com os efeitos principais

In [13]:
funcao = 'resposta ~ a + b + c + d'

In [14]:
modelo2 = ols(funcao,p).fit()

In [15]:
anova = sm.stats.anova_lm(modelo2)

In [16]:
anova

           df  sum_sq  mean_sq         F    PR(>F)
a         1.0   722.0    722.0  1.537806  0.303098
b         1.0     4.5      4.5  0.009585  0.928185
c         1.0   392.0    392.0  0.834931  0.428227
d         1.0   544.5    544.5  1.159744  0.360405
Residual  3.0  1408.5    469.5       NaN       NaN

In [18]:
modelo2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               resposta   R-squared:                       0.541
Model:                            OLS   Adj. R-squared:                 -0.070
Method:                 Least Squares   F-statistic:                    0.8855
Date:                Mon, 20 Apr 2020   Prob (F-statistic):              0.563
Time:                        12:31:43   Log-Likelihood:                -32.035
No. Observations:                   8   AIC:                             74.07
Df Residuals:                       3   BIC:                             74.47
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     70.7500      7.661      9.235      0.003      46.370      95.130
a              9.5000      7.661      1.240      0.303     -14.880      33.880
b              0.7500      7.661      0.098      0.928     -23.630      25.130
c              7.0000      7.661      0.914      0.428     -17.380      31.380
d              8.2500      7.661      1.077      0.360     -16.130      32.630
==============================================================================
Omnibus:                        0.169   Durbin-Watson:                   2.972
Prob(Omnibus):                  0.919   Jarque-Bera (JB):                0.349
Skew:                           0.113   Prob(JB):                        0.840
Kurtosis:                       2.002   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

## Cálculo do t-Student

In [19]:
from scipy.stats import t

In [20]:
tst = t.ppf(0.975,3)
tst

3.182446305284263

# Novo modelo - sem considerar a pressão

In [21]:
funcao = 'resposta ~ a + c + d + a*c + a*d'

In [22]:
modelo3 = ols(funcao,p).fit()

In [23]:
anova = sm.stats.anova_lm(modelo3)

In [24]:
anova

           df  sum_sq  mean_sq           F    PR(>F)
a         1.0   722.0   722.00  222.153846  0.004471
c         1.0   392.0   392.00  120.615385  0.008189
d         1.0   544.5   544.50  167.538462  0.005916
a:c       1.0   684.5   684.50  210.615385  0.004714
a:d       1.0   722.0   722.00  222.153846  0.004471
Residual  2.0     6.5     3.25         NaN       NaN

In [26]:
modelo3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               resposta   R-squared:                       0.998
Model:                            OLS   Adj. R-squared:                  0.993
Method:                 Least Squares   F-statistic:                     188.6
Date:                Mon, 20 Apr 2020   Prob (F-statistic):            0.00528
Time:                        12:32:20   Log-Likelihood:                -10.521
No. Observations:                   8   AIC:                             33.04
Df Residuals:                       2   BIC:                             33.52
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     70.7500      0.637    111.002      0.000      68.008      73.492
a              9.5000      0.637     14.905      0.004       6.758      12.242
c              7.0000      0.637     10.983      0.008       4.258       9.742
d              8.2500      0.637     12.944      0.006       5.508      10.992
a:c           -9.2500      0.637    -14.513      0.005     -11.992      -6.508
a:d            9.5000      0.637     14.905      0.004       6.758      12.242
==============================================================================
Omnibus:                        0.414   Durbin-Watson:                   1.654
Prob(Omnibus):                  0.813   Jarque-Bera (JB):                0.439
Skew:                           0.000   Prob(JB):                        0.803
Kurtosis:                       1.852   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [27]:
tst = t.ppf(0.975,2)
tst

4.302652729911275